*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}
input, button{
  appearance: none;
  background: none;
  border: none;
  outline: none;
  padding: 10px 15px;
}
.App{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #53565A;
}
form {
  display: block;
  position: relative;
  align-items: center;
}

form:after {
  content:'';
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  left: -5px;
  z-index: 1;
  background-image: linear-gradient(to right, #FFCE00 50%, #FFCE00 50%, #FE4880);
}

form .form-inner{
  position: relative;
  display: block;
  background-color: #FFF;
  padding: "15px";
  width: 165%;
  height: auto;
  z-index: 2;
  right:30%
  
}
form .form-inner h2{
  color: #000000;
  font-size: "10px";
  font-weight: 500;
  margin-bottom: "20px";
  text-align: center;
}
form .form-inner .form-group{
  display: block;
  
  margin-bottom: "15px";

}
.form-inner .form-group label{
  display: block;
  color: #666;
 
  margin-bottom: "5px";
  transition: 0.4s;
 
}

.form-inner .form-group:focus-within label{
  color: #FE4880
}

form .form-inner .form-group input[type="text"],input[type="password"]{
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background-color: #f8f8f8;
  border-radius: 8px;
  transition: 0.4s;
  font-size: 10px;
}

form .form-inner .form-group input[type="text"],input[type="password"]:focus{
  box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}

form .form-inner input[type="submit"],.welcome button{
  display: inline-block;
  padding: 3px 7px;
  border-radius: 4px;
  background-image: linear-gradient(to right, #FFCE00 50%, #FFCE00 50%, #FE4880);
  background-size:200%;
  background-position: 0%;
  transition: 0.4s;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;
  width: 30%;
  height: 5%;
  margin-bottom: 3px;
  margin-left: 3px;
  font-size: 12px;
  
}

form .form-inner input[type="submit"]:hover, .welcome button:hover{
  background-position: 100% 0%;
  
}

.welcome{
  width:100%;
  max-width: 480px;
  background-color: #fff;
  padding: 50px 30px;
}

.welcome h2{
  color:#888;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
  align-content: center;
}

.welcome h2 span{
  color: #FE4880;
  font-weight: 700;
}

.webcam{
  height: 60px;
  width: 90px;
  position: relative;
  align-self:auto;
  bottom: 5px;
  left: 12px;
  top: 5px;

}
.camera{
  position: relative;

}
.result{
  position: relative;
  display: flex;
  align-items: right;
  transition: 0.4s;
}


video{
  width:100%;
  max-width: 100%;
  height: auto;
}

.webcam button{
  border-radius: 3px;
  height: 14px;
  width: 28px;
  position: absolute;
  bottom: 5px;
  left: 3px;
  border: none;
  outline: none;
  padding: 2px 4px;
  background-image: linear-gradient(to right, #FFCE00 50%, #FFCE00 50%, #FE4880);
  background-position: 0%;
  background-size: 200%;
  color: #FFF;
  font-size: 6px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.4s;
}
.webcam button:hover{
  background-position: 100% 0%;
  transition: 0.4s;
}
canvas{
  background-color: #F4F4F1;
  height: 51px;
  width: 90px;
  position: absolute;
  bottom: 3.5px;
  left: 100px
}
.webcam-form .lab{
  border-radius: 3px;
  height: 14px;
  width: 40px;
  position: absolute;
  bottom: 5px;
  left: 3px;
  text-shadow: 0 0 4px #FFF;
  background-position: 0%;
  background-size: 200%;
  color: #FE4880;
  font-size: 6px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.4s;
  left:54%;
  bottom:12.33%
}